<div class="container" style="margin-top: 5%; background-color: rgb(248, 247, 244); box-shadow: 1px 1px 5px ;">
  <br>
  <div class="row">
    <span id="span2">Our Services Categories :</span>
  </div>
  <div class="row">
    <select id="select" class="form-control" (change)="filtercategory($event)">
      <option value="All" selected>All</option>
      <option value="Restaurants" >Restaurants</option>
      <option value="Bakeries">Bakeries</option>
      <option value="Markets">Markets</option>
      <!-- <option value="{{category}}" *ngFor="let category of categories">{{category}}</option> -->
    </select>
  </div>
  <br><br>
  <div class="row">
    <div class="col">
      <button type="search"><i class="fa fa-search"></i></button>
      <input id="inp1" type="text" placeholder="Search Service" name="search" [(ngModel)]="searchText"
        autocomplete="off">
    </div>
  </div>
  <br><br>
  <!-- <br>
            <br> -->
  <!-- <div class="row">
    <span id="span3" class="cardRestaurants"><img src="../../../../assets/images/icons8-50_s-diner-48.png" height="40px"
        alt="menu">Restaurants</span>
  </div>
  <div class="row">
    <span id="span3" class="cardBakeries"><img src="../../../../assets/images/icons8-cookbook-48.png" height="40px"
        alt="menu">Bakeries</span>
  </div>
  <div class="row">
    <span id="span3" class="cardMarkets"><img src="../../../../assets/images/my-bussiness.png" height="40px"
        alt="menu">Markets</span>
  </div>
  <br> -->
  <div class="row">
    <ng-container *ngFor="let item of categories | filter:searchText ">
      <div class="col-sm-6 col-lg-3">
        <app-product [data]="item" (item)="addToCart($event)"></app-product>
      </div>
    </ng-container>
  </div>
</div>
