.order{
  width: 100%;
  text-decoration: none;
  color: #333;
  margin: 15px;
  display: inline-block;
  border-radius: 10px ;
  box-shadow: 0px 2px 5px rgba(202, 37, 16, 0.3);
  transition: all 0.3s ease-in-out;
}
.body{
  padding-top: 0;
}
h4{
  height: auto;
  overflow: hidden;
  padding:5px;
  font-size: 18px;
  margin-top: 10px;
}
:hover{
  transform: scale(1.01);
}
button{
margin-bottom: 25px;
margin-left: 290px;
 background-color: red;
 border: none;
 color: white;
}

