<!-- ############## start home page ################# -->
<section class="home_sec">
  <div class="slider_one" id="whate_we_do">
    <div class="container" id="about">
      <div class="row first">
        <div class="content col-lg-12 col--xl-12 ">
          <h2> About Us </h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum
            tempore architecto
            ab aspernatur explicabo provident totam adipisci pariatur
            doloribus sint eaque voluptates
            exercitationem officia doloremque error commodi ipsa unde
            vitae.Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Cum tempore architecto
            ab aspernatur explicabo provident totam adipisci pariatur
            doloribus sint eaque voluptates
            exercitationem officia doloremque error commodi ipsa unde vitae
          </p>
        </div>
      </div>
      <div class="row second">
        <div class="col-lg-1 icon">
          <i class="far fa-3x fa-chart-bar text-center tm-icon custom" style="color:#ff5a00"></i>
        </div>
        <div class="col-lg-5 top_text">
          <div class="text">
            <h2> restaurants </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ea laboriosam veritatis fugiat quasi repellendus nobis illo
              blanditiis illum
            </p>
          </div>
        </div>
        <div class="col-lg-1 icon">
          <i class="far fa-3x fa-comment-alt text-center tm-icon custom " style="color:#ff5a00"></i>
        </div>
        <div class="col-lg-5 top_text">
          <div class="text">
            <h2>fast food </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ea laboriosam veritatis fugiat quasi repellendus nobis illo
              blanditiis illum
            </p>
          </div>
        </div>
      </div>
      <div class="row third">
        <div class="col-lg-1 icon">
          <i class="fa-solid fa-fingerprint custom" style="color: #ff5a00;"></i>
        </div>
        <div class="col-lg-5 top_text">
          <div class="text">
            <h2>top secure </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ea laboriosam veritatis fugiat quasi repellendus nobis illo
              blanditiis illum
            </p>
          </div>
        </div>
        <div class="col-lg-1 icon">
          <i class="fas fa-3x fa-users text-center tm-icon custom" style="color:#ff5a00"></i>
        </div>
        <div class="col-lg-5 top_text">
          <div class="text">
            <h2>social media</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ea laboriosam veritatis fugiat quasi repellendus nobis illo
              blanditiis illum
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--##################### end ##################### -->
