<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Talabat</title>
</head>
<body>
  <section class="banner" id="banner">
  </section>
<section class="multi-verticals ng-scope custom_home mb-5">
  <div class="container container-extended text-center">
    <h2 class="section-heading text-center mt-4" ng-switch="" on="model.country.id">
      <!-- ngSwitchWhen: 8 -->
      <!-- ngSwitchDefault: -->
      <span ng-switch-default="" class="ng-scope text-center">Your everyday,
        right away</span><!-- end ngSwitchWhen: -->
    </h2>
    <p class="section-description text-center h3 m-4">Order food and grocery
      delivery online from hundreds of restaurants and shops nearby.</p>
    <div class="flex mobile-vertical mt-5 logo_div text-center">
      <a class="app-link"
        href="https://apps.apple.com/us/app/talabat-%D8%B7%D9%84%D8%A8%D8%A7%D8%AA-food-ordering/id451001072?utm_campaign=other_campaigns_web_eat_ma_bh_display&amp;utm_source=Footer_download&amp;utm_medium=campaigns">
        <img src="../../../assets/images/logo_appstore.svg" alt="appstore talabat"></a>
      <a class="app-link"
        href="https://play.google.com/store/apps/details?id=com.talabat&amp;referrer=adjust_reftag%3Dc2VDcRfodCSbL%26utm_source%3DCooperations%26utm_campaign%3Dother_campaigns_and_eat_ma_bh_display%26utm_content%3DFooter_download&amp;utm_campaign=other_campaigns_web_eat_ma_bh_display&amp;utm_medium=campaigns&amp;utm_source=Footer_download">
        <img src="../../../assets/images/logo_playstore.svg" alt="playstore
          talabat"></a>
      <a class="app-link" href="https://appgallery.huawei.com/#/app/C100450669">
        <img src="../../../assets/images/logo_huaweistore1.svg" alt="Huawie talabat"></a>
    </div>
  </div>
</section>
<div class="d-flex justify-content-center">
  <div class="containsr w-50">
    <div class="card-group">
      <div class="card homeCard p-2">
        <img class="card-img-top" src="../../../assets/images/Categories/Markets/Geant/Geant.jpg" alt="Card image cap">
        <div class="card-body mt-2">
          <h5 class="card-title">Geant</h5>
          <p class="card-text">All you need and more, at your convenience, French Style! Geant is finally opening in New Cairo, Egy</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card homeCard p-4">
          <img class="card-img-top" src="../../../assets/images/Categories/Markets/Carrefour/Carrefour.jpg"
            alt="Card image cap">
        <div class="card-body mt-2">
          <h5 class="card-title">Carrefour</h5>
          <p class="card-text">الحق عروض المفروشات خلال خصومات كارفور فرايداي من 10 ل 13 نوفمبر! زور فروع كارفور أو كارفور أونلاين واشتري اللي نفسك فيه.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card homeCard p-4">
        <img class="card-img-top" src="../../../assets/images/Categories/Restaurants/Abou Hamza/Abou Hamza.webp" alt="Card image cap">
        <div class="card-body mt-2">
          <h5 class="card-title">Abou Hamza</h5>
          <p class="card-text">Large size Oriental Sausage Pie and chocolate pie.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
