<app-admin-producr-header></app-admin-producr-header>
<section class="vh-100 mb-5">
  <div class="container ">
    <div class="row justify-content-center align-items-center ">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Add a new product</h3>
            <!-- ************************************************************************ -->
            <form class="mx-1 mx-md-4" [formGroup]="form" (ngSubmit)="addProduct()">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="title" class="form-control" placeholder="Enter product name"/>
                  </div>
                </div>
                <!-- Price -->
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="number" formControlName="price" class="form-control" placeholder="Enter product price"/>
                  </div>
                </div>
              </div>
              <!-- Description -->
              <div class="row">
                <div class="col-md-6 pb-2">
                  <div class="form-outline">
                    <textarea type="description" id="form3Example3c" formControlName="description"
                      class="form-control" placeholder="Enter product description..."></textarea>
                  </div>
                </div>
                <!-- Image -->
                <div class="col-md-6 mb-4">
                  <h6 class="mb-2 pb-1">Upload product photo </h6>
                  <img src="{{base64}}" style="height: 70px; width: 70px;">
                  <input class="form-control form-control-sm" id="formFileSm" type="file"
                    (change)="getImagePath($event)">
                </div>
              </div>
              <!-- ADD BTN -->
              <div class="mt-1 pt-2">
                <input class="btn w-100" type="submit" value="Add product" />
              </div>
            </form>
            <!-- //////////////////////////////////////////////////////////////////// -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
