    <div class="container">
      <form [formGroup]="editResto" (click)="collection()" >
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Enter Name" formControlName="title"/>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" placeholder="Description" formControlName="description"/>
        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="email" class="form-control" placeholder="Enter Address" formControlName="location"/>
        </div>
        <div class="form-group mt-3">
          <label class="me-3">Category Type</label>
          <select name="category_type" formControlName="category_type">
            <option value="Restaurants">Restaurants</option>
            <option value="Bakeries">Bakeries</option>
            <option value="Markets">Markets</option>
          </select>
        </div>
  
        <div class="form-group mt-3">
          <label class="me-3">Status</label>
          <select name="status" formControlName="status">
            <option selected value="1">Available</option>
            <option value="0">Not Available</option>
          </select>
        </div>
        <!-- <input type="file" name="" id=""> -->
        <br>
        <button type="submit" class="btn btn-secondary mt-2" (click)="showSuccess()">Update</button>
      </form>
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show mt-2 text-center" role="alert">
         Data Has Been Updated Successfully.
        <button (click)="closeAlert()" type="button" class="close xbtn" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      </div>
      